//inicio recursos de scss
@import "_variables";
@import "_mixins";
//fin recursos scss
html {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
//inicio mobile
//estilos compartidos por todas las páginas inicio
//body
body {
  overflow-x: hidden;
  background-color: map-get($map: $colores, $key: "verde-claro");
  .contenedor-titulo {
    h1 {
      color: map-get($map: $colores, $key: "verde-oscuro");
      text-align: center;
    }
    p {
      @extend h1;
      font-style: italic;
      font-size: 18px;
    }
    background-image: url(../images/wave.svg);
    min-height: 300px;
  }
}
.main-contacto {
  .tco-1 {
    h2 {
      text-align: center;
    }
    p {
      font-style: italic;
    }
  }
}
//inicio navbar
.container-fluid,
.navbar {
  background-color: map-get($map: $colores, $key: "verde-claro2");
}
.navbar-toggler {
  background-color: map-get($map: $colores, $key: "verde-claro");
  border-color: map-get($map: $colores, $key: "verde-oscuro");
}
.navbar-nav {
  .nav-item {
    .nav-link {
      color: map-get($map: $colores, $key: "verde-oscuro");
      font-size: 20px;
      border-top: 1px solid map-get($map: $colores, $key: "verde-claro");
      font-weight: bold;
    }
  }
}
.navbar-brand {
  span {
    color: map-get($map: $colores, $key: "verde-oscuro");
    font-size: 30px;
    font-family: "Lobster", cursive;
  }
}
//fin navbar
//inicio main general
main {
  background-color: map-get($map: $colores, $key: "verde-claro");
}
.main-index {
  text-align: center;
}
//fin main general
//inicio footer
footer {
  background-color: map-get($map: $colores, $key: "verde-claro2");
  color: map-get($map: $colores, $key: "verde-oscuro");
}
footer {
  .logo {
    p {
      font-size: 30px;
      padding: 0;
      font-family: "Lobster", cursive;
    }
  }
  .footer-p-follow {
    font-size: 24px;
  }
  a {
    i {
      font-size: 100px;
    }
  }
  .fa-twitter {
    color: map-get($map: $colores, $key: "verde-oscuro");
  }
  .fa-twitter:hover {
    color: map-get($map: $colores, $key: "negro-leve");
  }
  .fa-instagram {
    @extend .fa-twitter;
  }
  .fa-facebook {
    @extend .fa-twitter;
  }
}
//fin footer
//estilos compartidos por todas las paginas fin
.tarjeta-contenedora {
  @include diseño(
    10px,
    map-get($map: $colores, $key: "verde-oscuro"),
    map-get($map: $colores, $key: "verde-claro2"),
    10px,
    20px
  );
  p {
    font-size: 18px;
    font-weight: bold;
  }
}
.btn {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  max-width: 110px;
  @include diseño(
    10px,
    map-get($map: $colores, $key: "verde-oscuro"),
    map-get($map: $colores, $key: "verde-claro"),
    10px,
    20px
  );
}
.carousel-caption {
  h3,
  p {
    text-shadow: black 1px 0 10px;
  }
}
.form-control {
  background-color: map-get($map: $colores, $key: "verde-claro2") !important;
  border: none;
  color: map-get($map: $colores, $key: "verde-oscuro");
}
.form-floating {
  color: map-get($map: $colores, $key: "verde-oscuro");
}
.form-container {
  width: 90%;
  max-width: 500px;
  color: map-get($map: $colores, $key: "verde-oscuro");
}
.form-container-2 {
  background-color: map-get($map: $colores, $key: "verde-claro2");
  border-radius: 10px;
  padding: 10px;
}
.form-select {
  background-color: map-get($map: $colores, $key: "verde-claro2");
  border: 1px solid map-get($map: $colores, $key: "verde-claro");
}
.btn-form {
  @extend .btn;
  background-color: map-get($map: $colores, $key: "verde-claro2");
  border: none;
}
.mt-3:active{
  border: none!important;
  box-shadow: none!important;
}
//fin mobile
@media (max-width:767px){
  .presentacion{
    background-image: url("../images/wave2.svg");
    color: map-get($map: $colores, $key: "verde-oscuro");
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    p{
      font-style: italic;
      font-size: 18px;
    }
  }
}
@media (max-width: 1024px) {
  .tco-0 {
    box-shadow: none;
  }
  .tco-1 {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
//inicio vista tablet

@media (min-width: 768px) {
  .navbar-nav {
    .nav-item {
      .nav-link {
        border-top: none;
      }
    }
  }
  .mt-3:active{
    border: none!important;
    box-shadow: none!important;
  }
  .main-index {
    @for $i from 0 through 3 {
      .tc-#{$i} {
        grid-area: tc-#{$i};
      }
    }
    display: grid;
    grid-template-areas:
      "tc-0 tc-1"
      "presentacion-galeria presentacion-galeria"
      "tc-2 tc-3";
      .contenedor-presentacion-galeria{
        display: flex;
        grid-area: presentacion-galeria;
        background-image: url("../images/wave2.svg");
        .presentacion{
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          color: map-get($map: $colores, $key:"verde-oscuro" );
          p{
            font-size: 18px;
            font-style: italic;
          }
        }
      }
  }
  .carousel {
    margin: auto;
    max-height: 426px;
    max-width: 640px;
    box-shadow: $sombra-caja;
    img {
      max-height: 426px;
      max-width: 640px;
      margin: auto;
    }
  }
  .main-adopta {
    @for $i from 0 through 2 {
      .ta-#{$i} {
        grid-area: ta-#{$i};
      }
    }
    display: grid;
    grid-template-areas:
      "ta-0 ta-1"
      "ta-2 ta-2";
  }
  .btn-form {
    max-height: 72px;
  }
  .main-ayuda {
    @for $i from 0 through 1 {
      .th-#{$i} {
        grid-area: th-#{$i};
      }
    }
    display: grid;
    grid-template-areas: "th-0 th-1";
  }
  .main-contacto {
    @for $i from 0 through 1 {
      .tco-#{$i} {
        grid-area: tco-#{$i};
      }
    }
    display: grid;
    grid-template-areas: "tco-0 tco-1";
  }
  .main-quienes {
    @for $i from 0 through 1 {
      .tno-#{$i} {
        grid-area: tno-#{$i};
      }
    }
    display: grid;
    grid-template-areas: "tno-0 tno-1";
  }
}
//fin vista tablet
//inicio vista desktop
@media (min-width: 1025px) {
  .btn:hover {
    color: map-get($map: $colores, $key: "negro-leve");
  }
}
//fin vista desktop
h1,
h2,
h3 {
  line-height: 1.1;
}
.form-control:focus,.form-select:focus {
  border-color: map-get($map: $colores, $key: verde-oscuro);
  box-shadow: inset 0 2px 2px map-get($map: $colores, $key: verde-claro2), 0 0 8px map-get($map: $colores, $key: verde-oscuro );
}