html {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #76b947;
}
body .contenedor-titulo {
  background-image: url(../images/wave.svg);
  min-height: 300px;
}
body .contenedor-titulo h1, body .contenedor-titulo p {
  color: #2f5233;
  text-align: center;
}
body .contenedor-titulo p {
  font-style: italic;
  font-size: 18px;
}

.main-contacto .tco-1 h2 {
  text-align: center;
}
.main-contacto .tco-1 p {
  font-style: italic;
}

.container-fluid,
.navbar {
  background-color: #94c973;
}

.navbar-toggler {
  background-color: #76b947;
  border-color: #2f5233;
}

.navbar-nav .nav-item .nav-link {
  color: #2f5233;
  font-size: 20px;
  border-top: 1px solid #76b947;
  font-weight: bold;
}

.navbar-brand span {
  color: #2f5233;
  font-size: 30px;
  font-family: "Lobster", cursive;
}

main {
  background-color: #76b947;
}

.main-index {
  text-align: center;
}

footer {
  background-color: #94c973;
  color: #2f5233;
}

footer .logo p {
  font-size: 30px;
  padding: 0;
  font-family: "Lobster", cursive;
}
footer .footer-p-follow {
  font-size: 24px;
}
footer a i {
  font-size: 100px;
}
footer .fa-twitter, footer .fa-facebook, footer .fa-instagram {
  color: #2f5233;
}
footer .fa-twitter:hover, footer .fa-facebook:hover, footer .fa-instagram:hover {
  color: #212529;
}
.tarjeta-contenedora {
  border-radius: 10px;
  color: #2f5233;
  background-color: #94c973;
  margin: 10px;
  padding: 20px;
}
.tarjeta-contenedora p {
  font-size: 18px;
  font-weight: bold;
}

.btn, .btn-form {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  max-width: 110px;
  border-radius: 10px;
  color: #2f5233;
  background-color: #76b947;
  margin: 10px;
  padding: 20px;
}

.carousel-caption h3,
.carousel-caption p {
  text-shadow: black 1px 0 10px;
}

.form-control {
  background-color: #94c973 !important;
  border: none;
  color: #2f5233;
}

.form-floating {
  color: #2f5233;
}

.form-container {
  width: 90%;
  max-width: 500px;
  color: #2f5233;
}

.form-container-2 {
  background-color: #94c973;
  border-radius: 10px;
  padding: 10px;
}

.form-select {
  background-color: #94c973;
  border: 1px solid #76b947;
}

.btn-form {
  background-color: #94c973;
  border: none;
}

.mt-3:active {
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .presentacion {
    background-image: url("../images/wave2.svg");
    color: #2f5233;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
  }
  .presentacion p {
    font-style: italic;
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .tco-0 {
    box-shadow: none;
  }

  .tco-1 h2 {
    text-align: center;
  }
  .tco-1 p {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    border-top: none;
  }

  .mt-3:active {
    border: none !important;
    box-shadow: none !important;
  }

  .main-index {
    display: grid;
    grid-template-areas: "tc-0 tc-1" "presentacion-galeria presentacion-galeria" "tc-2 tc-3";
  }
  .main-index .tc-0 {
    grid-area: tc-0;
  }
  .main-index .tc-1 {
    grid-area: tc-1;
  }
  .main-index .tc-2 {
    grid-area: tc-2;
  }
  .main-index .tc-3 {
    grid-area: tc-3;
  }
  .main-index .contenedor-presentacion-galeria {
    display: flex;
    grid-area: presentacion-galeria;
    background-image: url("../images/wave2.svg");
  }
  .main-index .contenedor-presentacion-galeria .presentacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2f5233;
  }
  .main-index .contenedor-presentacion-galeria .presentacion p {
    font-size: 18px;
    font-style: italic;
  }

  .carousel {
    margin: auto;
    max-height: 426px;
    max-width: 640px;
    box-shadow: 5px 10px 18px #0a0a0a;
  }
  .carousel img {
    max-height: 426px;
    max-width: 640px;
    margin: auto;
  }

  .main-adopta {
    display: grid;
    grid-template-areas: "ta-0 ta-1" "ta-2 ta-2";
  }
  .main-adopta .ta-0 {
    grid-area: ta-0;
  }
  .main-adopta .ta-1 {
    grid-area: ta-1;
  }
  .main-adopta .ta-2 {
    grid-area: ta-2;
  }

  .btn-form {
    max-height: 72px;
  }

  .main-ayuda {
    display: grid;
    grid-template-areas: "th-0 th-1";
  }
  .main-ayuda .th-0 {
    grid-area: th-0;
  }
  .main-ayuda .th-1 {
    grid-area: th-1;
  }

  .main-contacto {
    display: grid;
    grid-template-areas: "tco-0 tco-1";
  }
  .main-contacto .tco-0 {
    grid-area: tco-0;
  }
  .main-contacto .tco-1 {
    grid-area: tco-1;
  }

  .main-quienes {
    display: grid;
    grid-template-areas: "tno-0 tno-1";
  }
  .main-quienes .tno-0 {
    grid-area: tno-0;
  }
  .main-quienes .tno-1 {
    grid-area: tno-1;
  }
}
@media (min-width: 1025px) {
  .btn:hover, .btn-form:hover {
    color: #212529;
  }
}
h1, body .contenedor-titulo p,
h2,
h3 {
  line-height: 1.1;
}

.form-control:focus, .form-select:focus {
  border-color: #2f5233;
  box-shadow: inset 0 2px 2px #94c973, 0 0 8px #2f5233;
}

/*# sourceMappingURL=styles.css.map */
